  tr {
    text-align: center;
  }
  thead {
    background-color: #06BBCC;
    color: black;
  }
  th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
  }

  /* Navbar style */
  .navbar-nav .nav-link {
    font-weight: 700;
    color: #333;
    font-size: 16px;
    padding: 0 15px;
    transition: 0.3s ease-in-out;
  }

  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    color: #0d6efd;
  }
  /* ================= Customers Cards ================= */
/* ================= Customers Cards ================= */
